body
{
  font-family: "Montserrat";
  text-align: center;
}

h1
{
  font-family: "Montserrat-Bold";
}
h2
{
  font-family: "Montserrat-Bold";
}
h3
{
  font-family: "Montserrat-Bold";
}
h4
{
  font-family: "Montserrat-Bold";
}
h5
{
  font-family: "Montserrat-Bold";
}
h6
{
  font-family: "Montserrat-Bold";
}


p
{
  color: #8f8f8f;
}

/* Heading */

.big-heading
{
  font-family: "Montserrat-Black";
  font-size: 3.38rem;
  line-height: 1.2;
  font-weight: bolder;
  text-align: left;
}

.section-heading
{
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid
{
  padding: 3% 15%;
  padding-bottom: 9%;
}

/* Navigation bar */

.navbar
{
  padding: 0 0 4.5rem;
}

.navbar-brand
{
  font-size: 2rem;
  font-family: "Ubuntu-light";

}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.3rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-button
{
   margin: 20px 50px 0 0;
}

#title
{
  font-family: "Montserrat-Black";
  font-size: 3.38rem;
  line-height: 1.2;
  font-weight: bolder;
  background-color:#ef8172;
}

/* Doggy image */

.doggy
{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */

#features
{
  padding: 9% 13%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.icon
{
  color:#ef8172;
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

.icon:hover
{
  color:#ff4c68;
}

.feature-title
{
  font-size:1.5rem;
}

/* Testimonials */

#testimonials
{
  /* margin: auto; */
  background-color:#ef8172;
  color: #fff;
}

.carousel-item
{
  padding: 7% 15%;
}

.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5
}

.testimonial-image
{
  border-radius: 100%;
  width: 30%;
  position: relative;
  margin:20px;
  margin-top: 20px;
}

/* Press */

#press
{
  background-color:#ef8172;
  padding-bottom: 30px;
}

.press-logo
{
  width: 15%;
  margin: 10px 25px 25px 20px;
}

/* Pricing */

.pricing-heading
{
  padding-top: 90px;
  margin: auto;
}

.price-card
{
  padding: 7% 3%;
}

.pricing-text
{
  font-size: 3rem;
  line-height: 1.5;
}

/* Media Query */

@media (max-width:1020px)
{
  .doggy
  {
    position: static;
    padding-top: 30px;
    transform: rotate(0);
  }

 .container-fluid
 {
   text-align: center;
 }
}

#cta
{
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 15%;
}

.big-heading-cta
{
  text-align: center;
  font-family: "Montserrat-Black";
  font-size: 3.38rem;
  line-height: 1.2;
  font-weight: bolder;
}

#footer
{
  padding: 7% 15%;
}

.social-media
{

  margin: 20px 10px;
}
